body{
    font-family: monospace;
    color: white;
    background-color: black;

}

.estilo1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.estilo2{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.estilo3{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

#parrafo4{
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
}

.img{
    width: 330px;
}

button{
    color: black;
    font-size: 35px;
    font-family: Arial;
    background-color: white;
}